/dataset
/PCL-benchmark/x64
/PCL-benchmark/ipch
/PCL-benchmark/.vs/benchmark/v14/*.suo
/PCL-benchmark/*.opendb
/PCL-benchmark/*.db
/PCL-benchmark/old.txt
/PCL-benchmark/test.ply
/old
3dmatch-weights-snapshot-137000.marvin
3dmatch_train_snapshot_*.marvin
/training/marvin
/data_parsing/parse_point_clouds
/data_parsing/export_tdf_from_pointcloud
/data
*.pyc
*.py.swp

